<!-- index.hbs -->

<!-- SOURCE CODE CITATION -->

<!-- Date: 05/08/2024 -->
<!-- Adapted from: https://github.com/osu-cs340-ecampus/nodejs-starter-app -->

<!-- Date: 05/08/2024 -->
<!-- Adapted from: https://canvas.oregonstate.edu/courses/1958399/assignments/9589658?module_item_id=24181850 -->

<body>
<h1>The Beaver Lodge</h1>
<h2>Administration Page</h2>
<h4>Please use the following links as needed</h4>


<!-- Use hyperlinks to take user to these pages when the text is clicked -->
[ <a href="/">Home</a> | <a href="/units">Units</a> | <a href='/residents'>Residents</a> | <a href="/rent_transactions">Rent Transactions</a> | <a href="/payment_types">Payment Types</a> | <a href="/employees">Employees</a> | <a href="/work_orders">Work Orders</a> | <a href="/work_assignments">Work Assignments</a> ]
</body>
